.page__header {
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 1000;
}

.page__header .header__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page__header .header__header .module-anchor-nav ul {
    display: flex;
    justify-content: space-between;
}

.page__header .header__header .module-anchor-nav ul li + li {
    margin-left: 1.2em;
}

@media (width <= 1024px) {
  .page__header .header__header {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.2em;
  }
}

.page__header a {
transition: all .2s cubic-bezier(0,.39,1,.71);
}

.page__header a:hover {
    color: #f8bbd0;
}